@model ThePie.Models.Author

@{
  ViewData["Title"] = "Delete";
}

<body class="delete-comics-page"> @*here*@

  <div class="homeTitle animate__animated animate__backInUp">
    Pick wisely...
  </div>
  <div>
    <dl class="row">
      <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Name)
      </dt>
      <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Name)
      </dd>
      <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.AuthorSex)
      </dt>
      <dd class="col-sm-10">
        @Html.DisplayFor(model => model.AuthorSex)
      </dd>
      <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Active)
      </dt>
      <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Active)
      </dd>
    </dl>

    <form asp-action="Delete">
      <input type="hidden" asp-for="id" />
      <input type="submit" value="Delete" class="btn btn-danger" />
      <a asp-action="Index" class="btn btn-dark"> <i class="fas fa-hand-point-left"></i> &nbsp;Take a step back!</a>
    </form>
  </div>
</body>